.form-container {
    width: 400px;
    height: 630px;
    margin: 50px auto;
    background: #FFFFFF;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    padding-left: 40px;
    box-shadow: -10px 10px #FFE0B3;
}

.form-control {
    margin-bottom: 20px;
}

.form-title {
    font-family: 'Lato';
    font-size: 35px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.0025em;
    color: #2A414F;
}

.form-control label {
    display: block;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.0015em;
    color: #2A414F;
    margin-bottom: 10px;
}

.form-control input {
    width: 350px;
    height: 45px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
}

.btn-submit {
    width: 365px;
    height: 45px;
    border: none;
    background: rgba(255, 153, 0, 0.3);
    border-radius: 5px;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.0015em;
    color: #0E161A;
    margin-top: 15px;
}

.btn-submit:hover {
    background: rgba(255, 153, 0, 0.6);
}

p {
    font-size: 13px;
    text-align: center;
    line-height: 18px;
    letter-spacing: 0.0025em;
}

p a {
    text-decoration: none;
    color: #FF9900;
}

.google-login {
    margin: 60px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.google-login span {
    width: 160px;
    height: 0px;
    border: 1px solid #95A0A7;
}

.google {
    width: 365px;
    height: 45px;
    border: 1px solid #95A0A7;
    border-radius: 5px;
    font-size: 16px;
    color: #0E161A;
    margin-top: 35px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.google img {
    width: 25px;
}

.show-close {
    width: 20px;
    margin-left: 3px;
}